* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Permanent Marker";
    src: url("assets/font/permanent-marker-fontfacekit/web fonts/PermanentMarker-webfont.woff") format('woff');
  }

body {
    font-family: "Permanent Marker", cursive, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 2rem;    
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    
}

/* Remove borders for outer edges */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
.players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
label {
    display: grid;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
label input {
    font-size: 1.2rem;
    font-family: "Permanent Marker", cursive, Arial, sans-serif;
    text-align: center;
    border-radius: 12px;
    outline: 1px solid black;
    border: none;

}
.display {
    font-size: 1.2rem;
    margin-bottom: 10px;
    height: 1.55rem;
}
#restart {
    font-size: 1.2rem;
    font-family: "Permanent Marker", cursive, Arial, sans-serif;
    text-align: center;
    border-radius: 12px;
    outline: 1px solid black;
    border: none;
    min-width: 50%;
    min-height: 20%;
    margin-bottom: 20px;
    color: black;
    background-color: white;
}